<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Is that Poison, Dear?</title>

  <link rel="stylesheet" href="/css/style.css">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- FONT -->
<link href='http://fonts.googleapis.com/css?family=Muli:300italic,300' rel='stylesheet' type='text/css'>
<!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!--  Maps -->
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Recall JS -->
  <script type="text/javascript" src="/js/recallInfo.js"></script> 
  <!-- Search JS -->
  <script type="text/javascript" src="/js/options.js"></script> 
</head>
<body class = "container">

<div class="heading">
	</div>

<ul >

	<li class="navBtn"><a href="/recalls">SEARCH</a>
	</li>

	<li class="navBtn">
		<a href="/myRecalls">SAVED RECALLS</a>
	</li>

	<li class="navBtn">
		<a href="/about">ABOUT</a>
	</li>

	<li class="navBtn">
		<a href="/login">LOGIN</a>
	</li>

<li class="navBtn">
		<a href="/myAccount/">PROFILE</a>
	</li>
</ul>