<% include ../partials/headerSearch %>
  <div class="fruitstrip">
  <h2 id="lookUp">How would you like to search?</h2>

  <div class="ui inverted form">
		 <form id="searchForm" action="/search" method="POST">
			 <label for="foodType">
			<input type="radio" name="search" value="foodType" id="foodType">  Type of Food  </label>
			 <label for="location">
			<input type="radio" name="search" value="location" id="location">  Distribution Area  </label>
			 <label for="date">
			<input type="radio" name="search" value="date" id="dateRange">  Date Range  </label>
			<input class="ui inverted teal basic button" type="submit" value="Submit">
			</form>
		</div>
</div>

<% include ../partials/footer %>