<% include ../partials/header %>
<div id="newcomment">
<form action="/myRecalls/<%= myRecall._id %>/comments" method="POST">
	<label for="comment[content]">Comment (required):
		<input type="text" name="comment[content]" id="">
	</label>
		<input type="submit" value="Submit">
</form>
</div>
<button><a href="/myRecalls">Return to Saved Recalls</a></button>
<button><a href="/myRecalls/<%= myRecall._id %>/comments">See all comments</a></button>
<% include ../partials/footer %>