body{
	background-color: #FFF8D4;
	font-family: 'Tahoma';
    color: gray;
	font-size: 18px;
	padding: 0;
  margin: 0;
  overflow-x: hidden;
  }
/*Styling for different classes of danger*/
.high{
background-color: #FFF8D4;
border: solid #FFB884 3px;
margin: 2px;
}

.mid{
    background-color: #FFF8D4;
    border: solid #F5DF98 3px;
}
.low{
    background-color: #FFF8D4;
    border: solid #C0D1C2 3px;
}

.moreInfo {
	display: none;
}

/*styling for multiple scrolls*/
#map-canvas {
	width: 100%;
	float: right;
	height: 400px;
}

.mapSide {
	  float:right; 
	  width: 35rem;
 /*   width: 40%;*/
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    
    /*height: 100%;*/
}

.scrollSide {
		float: left;
		overflow: auto;
		  flex: 1;
    /*height: auto;*/
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    height: auto;
    /*width: 60%;*/
}


.scrollSide::-webkit-scrollbar,
.mapSide::-webkit-scrollbar {
    display: none;
}

.heading {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: #2E4347;
    position: relative;
    z-index: 10;
    height: 100px;
    color: #FFF8D4;
}

.wrap {
	  display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;

}