body{
	background-color: #E0EEEE;
	font-family: 'Tahoma';
	font-size: 18px;
	 padding: 0;
    margin: 10;
  }

.high{
background-color: #eee0ee;
}

.mid{
	background-color: #eee7e0;
}
.low{
	background-color: #e0e7ee;
}

.moreInfo {
	display: none;
}

#map-canvas {
	width: 100%;
	float: right;
	/*margin-top: -150px;*/
	height: 400px;
}

.mapSide {
	  float:right; 
	  width: 25rem;
 /*   width: 40%;*/
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    
    /*height: 100%;*/
}

.scrollSide {
		float: left;
		overflow: auto;
		  flex: 1;
    /*height: auto;*/
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    height: auto;
    /*width: 60%;*/
}


.scrollSide::-webkit-scrollbar,
.mapSide::-webkit-scrollbar {
    display: none;
}

.wrap {
		width: 100%;
 		display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
}