<% include ../partials/headerRecalls%>
<div class="ui inverted">
	<h2>Something smells rotten...</h2>
<p>Looks like something went wrong. <a href="/recalls"><div class="invertBtn">Return to the main page</div></a></p>
</div>
</div>

</body>
</html>