<% include ../partials/headerError %>
<div class="fruitstrip">
<div class="ui inverted">
	<h2>Something smells rotten...</h2>
<p>Looks like your inquiry returns no recalls. <a href="/search">Please make a new search</a>. </p>
</div>
</div>

</body>
</html>