<% include ../partials/headerRecalls %>
<div class="ui inverted">
	<h2>Something smells rotten...</h2>
<p>Looks like your inquiry returns no recalls. <a class="invertBtn" href="/recalls">Please make a new search</a></p>
</div>
</div>

</body>
</html>