<%include ../partials/headerError %>
<div class="fruitstrip">
<div class="ui inverted">
<h2>Something smells rotten...</h2>
	<p>Oops! Looks like there was an internal server error.</p>
	<p><a href="/search"><div class="ui inverted blue button">Please try a new search</div></a></p>.
	</div>
</div>
<%include ../partials/footer %>