<%include ../partials/headerRecalls %>
<div class="fruitstrip">
<div class="ui inverted">
<h2>Something smells rotten...</h2>
	<p>Oops! Looks like there was an internal server error.</p>
	<p><a href="/recalls"><div class="invertBtn">Please try a new search</div></a></p>
	</div>
</div>
<%include ../partials/footer %>