<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error</title>
</head>
<body>
	<h2>Oops! Looks like there was an internal server error.</h2>
	<p><a href="/search">Please try a new search</a></p>.
</body>
</html>