<% include ../partials/headerError %>
<div class="fruitstrip">
<div class="ui inverted">	
<p>Looks like your login encountered an error. <a href="/login"><div class="ui inverted teal button">Please try again</div></a> </p>
<p>OR</p>
<p><a href="/signup"><div class="ui inverted teal button">Sign up for an account here</div></a></p>
</div>
</div>
<% include ../partials/footer %>