<%include ../partials/headerError %>
<div class="fruitslice">
<p>Looks like your signup is invalid. <a href="/signup"><div class="ui inverted teal button">Please try again</div></a> </p>
</div>
<% include ../partials/footer %>