<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up Error</title>
</head>
<body>
	
<p>Looks like your login encountered an error. <a href="/login">Please try again</a>. </p>
<p>If you haven't yet signed up, please do so <a href="/signup">here</p>.


</body>
</html>