<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up Error</title>
</head>
<body>
	
<p>Looks like you need to log in to complete this action.</p>
<p><a href="/login">Log in here</a></p>.
<p>Not yet signed up? <a href="/signup">Please create an account here</a>. </p>


</body>
</html>