<%include ../partials/headerError %>
	<div class="ui inverted">
<p>Looks like you need to log in to complete this action.</p>
<p><a href="/login"><div class="invertBtn">Log in here</div></a></p>
<p>OR</p>
<p><a href="/signup"><div class="invertBtn">Create an account here</div></a> </p>
</div>
<%include ../partials/footer %>