<%include ../partials/headerError %>
<div class="fruitstrip">
	<div class="ui inverted">
<p>Looks like you need to log in to complete this action.</p>
<p><a href="/login"><div class="ui inverted teal button">Log in here</div></a></p>.
<p>Not yet signed up? <a href="/signup"><div class="ui inverted teal button">Create an account here.</div></a> </p>
</div>
<%include ../partials/footer %>