<% include ../partials/headerRecalls %>
	<h2>Recalls you've saved:</h2>
	<div class="invertBtn">
		<a href="/recalls">New Search</a>
	</div>
	<% myRecalls.forEach(function(myRecall){ %>
	<p><strong><%= myRecall.product_description %></strong></p>
	<div class="invertBtn">
		<a href="/myRecalls/<%= myRecall.id %>">More about Recall</a>
	</div>
	<hr>
		<% }) %>


</div>

<% include ../partials/footer %>