<% include ../partials/headerMyRecall %>
<h2>Recalls you've saved:</h2>
<a href="/search">New Search</a>
<% myRecalls.forEach(function(myRecall){ %>
<p><strong><%= myRecall.product_description %></strong></p>

<!-- <p>Where this product was distributed: <%=  myRecall.distribution_pattern %></p> -->
<button><a href="/myRecalls/<%= myRecall.id %>">More about Recall</a></button>
<hr>
	<% }) %>



<% include ../partials/footer %>