<% include ../partials/header %>
<h2>Recalls you've saved:</h2>
<a href="/search">New Search</a>
<% myRecalls.forEach(function(myRecall){ %>
<p><strong><%= myRecall.product_description %></strong></p>

<p>Where this product was distributed: <%=  myRecall.distribution_pattern %></p>
<form action="/myRecalls/<%= myRecall.id %>?_method=delete" method="POST">
<input type="submit" value="Delete">
</form>
<hr>
	<% }) %>



<% include ../partials/footer %>