<% include ../partials/headerRecalls %>
<!-- <div class="fruitstrip">
 -->

<p>Hello, Dear...</p>
<p>Before you eat that, perhaps you'd like to know whether it possesses any dangerous (or mundane but unexpected) qualities.</p>
<p><em>Is that Poison, Dear?</em> is a web app that allows users to easily search recall information from the Food and Drug Administration (FDA). It uses data from openFDA--a research project designed to facilitate access to public FDA data.</p>
<p>Users can search recall data from 2004 forward by distribution location, time of recall, or type of food. Unfortunately, the FDA updates its recall database only once every two weeks or so. Even so, I hope the app can provide helpful information for the curious and cautious.</p>
<p>Class definitions are from the FDA site (<a href="http://www.fda.gov/ForConsumers/ConsumerUpdates/ucm049070.htm" target="_blank">find here</a>). More information about the FDA recall API (also available for drugs and devices) <a href="https://open.fda.gov/index.html" target="_blank">can be found here.</a></p>
<% include ../partials/footer %>