<% include ../partials/header %>
  <div class="fruitstrip">
  	<div class="ui inverted form">
	    <h2>Sign Up to Save Recalls of Interest</h2>
	    <a href="/signup">Signup</a>
	    <br>
	    <a href="/login">Login</a>
    </div>
   </div>
<% include ../partials/footer %>