<% include ../partials/header %>
  <div class="fruitstrip">

<h1>Login</h1>
<div class="ui inverted form">
<form method="POST" action="/login" >
  <div>
    <label for="email"> Email:     </label>
      <input type="text" id="email" name="user[email]" autofocus>

  </div>
  <div>
    <label for="pass"> Password:</label>
      <input type="password" id="pass" name="user[password]">

  </div>
  <input class="ui inverted blue button" type="submit" value="Login">
</form>
<div class="ui inverted blue button"><a href="/signup">Need an account? Sign up here!</a></div>
</div>
</div>
<% include ../partials/footer %>