<% include ../partials/headerRecalls %>
  
<h1>Login</h1>
<div class="ui inverted form">
<form method="POST" action="/login" >
<table>
  <tr>
    <td> 
    <div>
    <label for="email"> Email:
      <input type="text" id="email" name="user[email]" autofocus>
    </label>
    </div>
    </td>
    <td>
    <div>
    <label for="pass"> Password:
      <input type="password" id="pass" name="user[password]">
    </label>
    </div>
    </td>
    <td>
     <input class="invertBtn" type="submit" value="Login">
    </td>
  </tr>
</table>
 </form>
<div class="invertBtn"><a href="/signup">Need an account? Sign up here!</a></div>
</div>
<% include ../partials/footer %>